
.cLetter {
    font-family: 'Indie Flower', cursive;
}

.uk-accordion-content {
    text-align: right
}

.uk-navbar-nav > li > a {
    position: relative;
    color: #000;
    text-decoration: none;
}

    .uk-navbar-nav > li > a:hover {
        color: #000;
    }

    .uk-navbar-nav > li > a:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #000;
        visibility: hidden;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
    }

    .uk-navbar-nav > li > a:hover:before {
        visibility: visible;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }

/*-------------------------------------------*/

.background {
    background: no-repeat center center fixed;
    background-size: cover;
    display: block;
    left: -15px;
    top: -15px;
    bottom: -15px;
    position: fixed;
    right: -15px;
    width: 100%;
    height: 100%;
    transform: scale(1.1);
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    margin: -5px;
}

.boton-ver {
    background: #8BEAAF;
    border: 1px solid #8BEAAF;
    color: #ffffff;
    border-radius:5px;
    position: relative;
    box-sizing: border-box;
    transition: all 250ms ease;
}

    .boton-ver:hover {
        background: #ffffff;
        color: #8BEAAF;
    }


.boton-kuki {
    position: relative;
    overflow: hidden;
    max-width: 250px;
    text-transform: uppercase;
    border: 1px solid #8BEAAF;
    border-radius:5px;
    color: #8BEAAF;
    text-decoration: none;
}

    .boton-kuki:before {
        content: '';
        position: absolute;
        top: 0;
        right: -50px;
        bottom: 0;
        left: 0;
        border-right: 50px solid transparent;
        border-bottom: 80px solid #8BEAAF;
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        z-index: -1;
        transition: 0.5s ease-in-out;
    }

    .boton-kuki:hover {
        color: white;
    }

        .boton-kuki:hover:before {
            -webkit-transform: translateX(0);
            transform: translateX(0);
        }




#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1001;
}

#loader {
    height: 200px;
    margin-top: 50px;
    z-index: 1500;
}

.circle {
    display: inline-block;
    background-color: #f19bff;
    height: 15px;
    width: 15px;
    border-radius: 25px;
}

#ball-1 {
    -webkit-animation-name: bounce;
    -webkit-animation-delay: 0s;
    -webkit-animation-duration: 1.2s;
    -webkit-animation-iteration-count: infinite;
}

#ball-2 {
    -webkit-animation-name: bounce;
    -webkit-animation-delay: 0.1s;
    -webkit-animation-duration: 1.2s;
    -webkit-animation-iteration-count: infinite;
}

#ball-3 {
    -webkit-animation-name: bounce;
    -webkit-animation-delay: 0.2s;
    -webkit-animation-duration: 1.2s;
    -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes bounce {
    0% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(23px);
    }

    60% {
        transform: translateY(-25px);
    }

    80% {
        transform: translateY(0);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 50%;
    height: 100%;
    background: #ffc1fd;
    z-index: 1000;
}

    #loader-wrapper .loader-section.section-left {
        left: 0;
    }

    #loader-wrapper .loader-section.section-right {
        right: 0;
    }

.loaded #loader-wrapper .loader-section.section-left {
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
}

.loaded #loader-wrapper .loader-section.section-right {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
}

.loaded #loader {
    opacity: 0;
    visibility: hidden;
}

.loaded #loader {
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.loaded #loader-wrapper .loader-section.section-right,
.loaded #loader-wrapper .loader-section.section-left {
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader-wrapper {
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: all 0.3s 1s ease-out;
    transition: all 0.3s 1s ease-out;
}

.count {
}

.seccion-diagonal {
    position: relative;
    height: auto;
    overflow: hidden;
}


.fondo-diagonal{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: skewY(-3deg);
    transform-origin: top left;
}


.image-wrapper {
    position: relative;
    padding-bottom: 56.2%;
}

    .image-wrapper .card-img {
        position: absolute;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

